.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .social-login {
    margin-bottom: 20px;
  }
  
  .social-login p {
    margin-bottom: 10px;
  }
  
  .social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .google-login,
  .facebook-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button-text {
    margin-right: 5px;
  }
  
  .button-icon {
    font-weight: bold;
  }
  
  .google-login:hover,
  .facebook-login:hover {
    background-color: #bba1a1;
  }
  
  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  .register {
    margin-bottom: 20px;
  }
  
  .register-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #45a049;
  }
  
  .captcha {
    margin-bottom: 20px;
  }
  